Projects/Grocery.json
{
  "name": "Grocery",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fdd13224-8247-4b54-9998-ea4dfcd093be",
      "name": "Telegram Trigger",
      "webhookId": "18cdaa41-7976-4746-b24d-82e0c3a90bf2",
      "credentials": {
        "telegramApi": {
          "id": "CE4fKb8U50qSVuJw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a Precise Grocery Inventory Assistant. You have NO internal knowledge of products, prices, or stock. Your ONLY source of truth is the 'search_inventory_sheet' tool.\n\nINSTRUCTIONS:\n1. MANDATORY TOOL USE: For every user query about products, prices, or stock, you MUST call the 'search_inventory_sheet' tool.\n2. STRICT DATA ADHERENCE: You must strictly adhere to the data returned by the tool. Quote prices and stock levels exactly as provided.\n3. ITEM NOT FOUND: If the tool returns no data for an item, you must state: \"I checked our inventory list, and we do not carry that item.\" Do not guess or estimate.\n4. TONE: Maintain a concise, professional, and helpful tone.\n5. STOCK LOGIC:\n   - If available: Confirm availability and price.\n   - If Low Stock: Warn the customer that stock is limited.\n   - If Out of Stock (Stock 0): Apologize and state the item is unavailable."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "e6fa87b0-0caa-4dc4-a326-8787c0f363bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "4eb9c5bd-d54d-4d91-aea1-346e61f9d5b3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7FLFRjMCssQH4rsp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "3baaf018-3ed4-4ffb-9836-786d75f7bd1c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        0
      ],
      "id": "76f54d00-48fc-4f3b-9b85-3d751fda939f",
      "name": "Send a text message",
      "webhookId": "8798deb6-4a92-4714-bcb1-53df5fba64e9",
      "credentials": {
        "telegramApi": {
          "id": "CE4fKb8U50qSVuJw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1QJY_cvLXC-Bi6kjbOvMYPyjAGFRIAs4sOPvXHNDBdlM/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 354333397,
          "mode": "list",
          "cachedResultName": "generate a sheet of random grocery items around 2...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QJY_cvLXC-Bi6kjbOvMYPyjAGFRIAs4sOPvXHNDBdlM/edit#gid=354333397"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        224
      ],
      "id": "123e50f8-c8be-4a3a-840d-34e7cf51c806",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uO0ilNW1jhUxkg9r",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c5d63dc-90da-43d6-b684-9f6f4c818377",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c72787d1da6ff71608db0a0bd6d3d5cef982225acbe1fee19e015541c681e509"
  },
  "id": "pmktGMaolJTqQi03",
  "tags": []
}